* {
	padding: 0;
	margin: 0;
	list-style: none;
}

#nav-warp {
	width: 100%;
	height: 66px;
	float: left;
	border-bottom: 2px solid black;
}

#register {
	width: 990px;
	height: 66px;
	/*background: aqua;*/
	margin: 0 auto;
}

#register>h2 {
	width: 171px;
	height: 66px;
	background: url(../img/logo-en.png) no-repeat;
	margin: 15px 0 0 0;
	float: left;
}

#registr-loginho {
	width: 394px;
	height: 66px;
	float: right;
	position: relative;
}

.registr-right {
	width: 394px;
	height: 29px;
	position: absolute;
	left: 0;
	bottom: 17px;
}

.registr-right li {
	color: #8e8e8e;
	font-size: 12px;
	line-height: 26px;
	float: left;
}

.loginho {
	width: 143px;
	height: 29px;
}

.hi {
	height: 15px;
	font-size: 12px;
	line-height: 15px;
}

.seprate {
	width: 69px;
	height: 29px;
	margin: 0 0 0 15px;
	float: left;
	position: relative;
}

.biao {
	width: 20px;
	height: 20px;
	float: right;
	background: url(img/buttom.png) no-repeat 50%;
	margin-top: 5px;
	display: block;
}

.two-nav {
	background: #f4f4f4;
	position: absolute;
	left: 0px;
	top: 28px;
	display: none;
}

.two-nav>li {
	width: 69px;
	height: 30px;
	line-height: 30px;
	border-top: 1px solid silver;
}

.seprate:hover {
	background: #f4f4f4;
}

.seprate:hover .biao {
	background: url(img/top.png) no-repeat 50%;
}

.seprate:hover .two-nav {
	display: block;
}

.order {
	width: 68px;
	height: 29px;
	margin-left: 15px;
}

.secvice {
	width: 69px;
	height: 29px;
	margin: 0 0 0 15px;
	float: left;
	position: relative;
}

.hah {
	width: 20px;
	height: 20px;
	float: right;
	background: url(img/buttom.png) no-repeat 50%;
	margin-top: 5px;
	display: block;
}

.two-navs {
	background: #f4f4f4;
	position: absolute;
	left: 0px;
	top: 28px;
	display: none;
}

.two-navs>li {
	width: 69px;
	height: 30px;
	line-height: 30px;
	border-top: 1px solid silver;
}

.secvice:hover .hah {
	background: url(img/top.png) no-repeat 50%;
}

.secvice:hover .two-navs {
	display: block;
}

.secvice:hover {
	background: #f4f4f4;
}

#count-warp {
	width: 100%;
	height: auto;
	/*background: salmon;*/
	padding: 25px 0 0 0;
	box-sizing: border-box;
}

.boeder-title {
	width: 990px;
	height: 42px;
	margin: 0 auto;
	/*background: gainsboro;*/
}

.boeder-title>p {
	width: 150px;
	height: 42px;
	background: url(img/sprite.cart.png) 688px 179px;
	display: block;
}

#shooping-cat {
	width: 990px;
	height: 500px;
	/*background: sienna;*/
	margin: 20px auto;
}

.shoop-top {
	width: 990px;
	height: 50px;
	color: white;
	background: #3a3a3a;
}


/*#all-checkbox{
				width:18px;
				height: 19px;
				display: block;
				float: left;
				border-radius: 50%;
			}*/

.shop {
	width: 150px;
	height: 50px;
	margin: 0 0 0 15px;
	float: left;
	/*background: red;*/
	text-align: center;
	line-height: 50px;
}

table {
	margin: 20px auto;
	border-collapse: collapse;
}

table tr {
	height: 30px;
}

table td {
	text-align: center;
}

table tr:hover {
	/*background: skyblue;*/
}

table input {
	width: 80px;
	height: 30px;
	border: none;
	font-size: 16px;
	cursor: pointer;
	background: white;
}

#box {
	width: 500px;
	height: 600px;
	margin: 0 220px;
}

p {
	margin-top: 10px;
}

#box input {
	width: 200px;
	height: 30px;
}